DATABASE_URL=mysql+pymysql://api2:LuTXw56dkp0YDDdSR5h7@127.0.0.1:3306/dbsayan



# JWT Settings
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Application Settings  
APP_NAME=SAYAN Educational Platform
API_V1_STR=/api/v1
PROJECT_NAME=SAYAN API
DEBUG=False

# CORS
BACKEND_CORS_ORIGINS=["https://jsoreasharq.site", "https://www.jsoreasharq.site"]

# Admin JWT Key
ADMIN_SECRET_KEY=admin-secret-key-here

# Academy JWT Key  
ACADEMY_SECRET_KEY=academy-secret-key-here

# Student JWT Key
STUDENT_SECRET_KEY=student-secret-key-here 